name: Check for uncommitted files

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # This ensures a rebuild matches the checked-in dist/ folder
  verify-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install NPM dependencies
        run: npm ci

      - name: Rebuild the dist/ directory
        run: npm run build

      - name: Compare the expected and actual dist/ directories
        run: bin/check-build-output-in-dist-directory

  check-for-uncommitted-files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Compare the expected vs actual files
        run: test -z "$(git status --porcelain)"
